/*
 * General theme
 */
body {
  margin: 0;
  font-family: "Lato", Sans-serif;
}

/*
 * Property List Page
 */
.property-list {
  font-family:"Lato", Sans-serif;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  justify-content: stretch;
  background: #F9F9F9;
  padding-left: 15px;
  box-sizing: border-box;
}
.property-list a {
  font-family: "Lato", Sans-serif;
  text-align: center;
  color: #54595F;
  width: 100%;
}
.property-list-item-wrap {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 180px;
  cursor: pointer;
  background: #F9F9F9;
  text-align: center;
}
.property-list-item {
  padding: 0;
  margin: 30px 15px 30px 0;
}
.property-list h2 {
  padding: 25px 0 0 0;
}
.property-list-item .price {
  font-weight: normal;
  font-size: 18px;
  color: #54595F70;
  font-style: italic;
}
.property-list-image-wrap {
  height: 200px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.property-list-image-wrap img {
  height: auto;
  width: 100%;
}

/*
 * Featured listings
 */
.featured-image-wrap {
  height: 300px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.featured-image-wrap img {
  height: auto;
  width: 100%;
}
.featured-property-list-wrap {
  padding:20px 30px;
  background: #F9F9F9;
}
.featured-property-list {
  padding: 0 15px 0 15px;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  justify-content: stretch;
  background: #F9F9F9;
}
.featured-property-list-wrap .section-header {
  color: #54595F;
  text-align: center;
  font-size: 45px;
  vertical-align: middle;
}
.featured-property-list-wrap .section-title {
  font-size: 55px;
}
.featured-property-list .property-list-item-wrap {
  width: 50%;
  max-width: 50%;
  min-width: 180px;
  text-align: center;
}
.featured-property-list a {
  text-align: center;
  color: #54595F;
}
.featured-property-list-wrap .view-all-properties {
  display: inline-block;
  padding: 30px 50px;
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
  font-size: 26px;
  color: #C2CBD2;
  background: #B34D06;
  margin: 30px 0 20px 0;
  text-align: center;
}
.featured-property-list-wrap .view-all-properties:hover {
  background: #B34D06F5;
}

/*
 * Listing table shortcode styles
 */
.cp-listing-table {
  margin:0;

}

.cp-listing-table table {
  width: 100%;
  background: #F3F3F3;
  border-collapse: collapse;
  border-spacing: 0;
  margin:0;
  padding:0;
}

.cp-listing-table th,
.cp-listing-table td {
  color: #545454;
  font-family: "Lato", Sans-serif;
  font-size: 12px;
  text-align: left;
  padding: 15px 10px;
  border-spacing: 0;
  margin: 0;

}

.cp-listing-table th {
  font-size: 20px;
  color: #FFF;
  background: #F79F1F;
  text-align: center;
}
.cp-listing-table .label {
  text-align: right;
}
.cp-listing-table .data {
  font-weight: bold;
}

.cp-listing-table tr.alt {
  background: #D7D7D7;
}


/*
 *
 */
.cp-listing-price {
  font-size: 32px;
  font-family: "Lato", Sans-serif;
  color: #FFF;
}

/*
 *
 * Property List
 *
 */

/* Filters */
.property-filter-section {
  width: 100%;
  background: #54595F;
  padding: 30px 20px;
  margin: 30px 0 0 0;
}
.property-filter-section h3 {
  display: block;
  margin: 0 0 4px 0;
  font-size: 20px;
  color: #C2C2C2;
}

.property-filter-section select {
  min-width: 250px;
  min-height: 40px;
  font-size: 18px;
}

.property-filter {
  display: inline-block;
  margin-right: 40px;
  vertical-align: top;
  color: #FFF;
}
.property-filter select {
  background: #EFEFEF;
  color: #54595F;
  padding: 6px 12px;
  font-size: 20px;
}
.property-filter input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.property-filter span {
  vertical-align: middle;
}
.property-filter label {
  font-size: 20px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  margin: 4px 12px 0 0;
}

/* Common features */
.cp-common-feature {
  display: inline-block;
  margin: 8px 12px 8px 0;
  font-size: 22px;
  font-family: "Lato", Sans-serif;
  color: #FFF;
}
.cp-common-feature input {
  width: 18px;
  height: 18px;
}

/* Download */
.cp-listing-file {
  font-size: 22px;
  background: #DF6C1C50;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}
.cp-listing-file a {
  color: #FFF;
}

/* Custom Features */
.cp-custom-feature {
  color: #FFFFFF75;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 25px 5px 30px;
  font-family: "Lato", Sans-serif;
}

/* Maps */
#cp-property-list-map {
  height: 450px;
}

.gm-style-iw-d {
  text-align: center;
}
.gm-style-iw-d > div {
  padding: 15px;
}
.cp-infobox {
  display: inline-block;
  width: 360px;
  max-width: 360px;
  min-width: 180px;
  color: #54595F;
  text-align: center;
}
.cp-infobox img {
  max-width: 100%;
  max-height: 200px;
}
.cp-infobox h2 {

}

/*
 * Responsive Styles
 */
@media only screen and (max-width: 600px) {

  /* Featured Property */
  .featured-property-list .property-list-item-wrap {
    width: 100%;
    max-width: 100%;
  }
  .featured-image-wrap {
    height: auto;
  }
  .featured-property-list-wrap {
    padding: 20px 0;
  }

  /* Property Listings */
  .property-list .property-list-item-wrap {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .property-list-image-wrap {
    height: auto;
  }

}
