/*
 * General theme
 */
body {
  margin: 0;
}

/*
 * Property List Page
 */
.property-list {
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  position: relative;
  justify-content: stretch;
  border-top: solid 4px #F1F1F1;
  border-left: solid 4px #F1F1F1;
}
.property-list-item-wrap {
  display:flex;
  box-sizing: border-box;
  margin: 0;
  border-bottom: solid 4px #F1F1F1;
  border-right: solid 4px #F1F1F1;
  padding: 0;
  width: 33.33%;
  max-width: 400px;
  min-width: 150px;
  cursor: pointer;
  background: #F9F9F9;
}
.property-list-item {
  padding: 0 0 30px 0;
  margin: 0;
}
.property-list a {
  width: 100%;
  text-align: center;
  color: #323232;
  font-family: verdana, sans-serif;
}
.property-list h2 {
  padding: 25px 0 0 0;
}
.property-list h5 {
  font-size: 16px;
  color: #484848;
}

/*
 * Featured listings
 */
.featured-property-list-wrap {

}
.featured-property-list {
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  position: relative;
  justify-content: stretch;
  border-top: solid 4px #F1F1F1;
  border-left: solid 4px #F1F1F1;
}
.featured-property-list .property-list-item-wrap {
  width: 50%;
  max-width: 450px;
  min-width: 150px;
}

/*
 * Listing table shortcode styles
 */
.cp-listing-table {
  margin:0;

}

.cp-listing-table table {
  width: 100%;
  background: #F3F3F3;
  border-collapse: collapse;
  border-spacing: 0;
  margin:0;
  padding:0;
}

.cp-listing-table th,
.cp-listing-table td {
  color: #545454;
  font-family: verdana, sans-serif;
  font-size: 12px;
  text-align: left;
  padding: 15px 10px;
  border-spacing: 0;
  margin: 0;

}

.cp-listing-table th {
  font-size: 20px;
  color: #FFF;
  background: #F79F1F;
  text-align: center;
}
.cp-listing-table .label {
  text-align: right;
}
.cp-listing-table .data {
  font-weight: bold;
}

.cp-listing-table tr.alt {
  background: #D7D7D7;
}


/*
 *
 */
.cp-listing-price {
  font-size: 32px;
  font-family: verdana, sans-serif;
  color: #FFF;
}

/*
 *
 * Property List
 *
 */

/* Filters */
.lesson-filter-section {
  width: 100%;
  background: #F7F7F7;
  padding: 30px 20px;
  margin: 30px 0;
}
.lesson-filter-section label {
  display: block;
  margin: 0 0 4px 0;
  font-size: 14px;
  font-family: verdana, sans-serif;
  color: #C2C2C2;
}

.lesson-filter-section select {
  min-width: 250px;
  min-height: 40px;
  font-size: 18px;
}

.lesson-filter {
  display: inline-block;
}

/* Common features */
.cp-common-feature {
  display: inline-block;
  margin: 8px 12px 8px 0;
  font-size: 22px;
  font-family: verdana, sans-serif;
  color: #FFF;
}
.cp-common-feature input {
  width: 18px;
  height: 18px;
}

/* Download */
.cp-listing-file {
  font-size: 22px;
  background: #DF6C1C50;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}
.cp-listing-file a {
  color: #FFF;
}

/* Custom Features */
.cp-custom-feature {
  color: #FFFFFF75;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 25px 5px 30px;
  font-family: verdana, sans-serif;
}
