/*
 * General theme
 */
body {
  margin: 0;
}

/*
 * Property List Page
 */
.property-list {
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.property-list-item-wrap {
  display:flex;
  box-sizing: border-box;
  margin: 0;
  padding: 25px;
  width: 33.33%;
  max-width: 400px;
  min-width: 150px;
  cursor: pointer;
}
.property-list a {
  width: 100%;
  text-align: center;
}

/*
 * Listing table shortcode styles
 */
.cp-listing-table {
  margin:0;

}

.cp-listing-table table {
  width: 100%;
  background: #F3F3F3;
  border-collapse: collapse;
  border-spacing: 0;
  margin:0;
  padding:0;
}

.cp-listing-table th,
.cp-listing-table td {
  color: #545454;
  font-family: verdana, sans-serif;
  font-size: 12px;
  text-align: left;
  padding: 15px 10px;
  border-spacing: 0;
  margin: 0;

}

.cp-listing-table th {
  font-size: 20px;
  color: #FFF;
  background: #F79F1F;
  text-align: center;
}
.cp-listing-table .label {
  text-align: right;
}
.cp-listing-table .data {
  font-weight: bold;
}

.cp-listing-table tr.alt {
  background: #D7D7D7;
}


/*
 *
 */
.cp-listing-price {
  font-size: 32px;
  font-family: verdana, sans-serif;
  color: #FFF;
}

/*
 *
 * Property List
 *
 */

/* Filters */
.lesson-filter-section {
  width: 100%;
  background: #F7F7F7;
  padding: 30px 20px;
  margin: 30px 0;
}
.lesson-filter-section label {
  display: block;
  margin: 0 0 4px 0;
  font-size: 14px;
  font-family: verdana, sans-serif;
  color: #C2C2C2;
}

.lesson-filter-section select {
  min-width: 250px;
  min-height: 40px;
  font-size: 18px;
}

.lesson-filter {
  display: inline-block;
}
